body {
	background-image: url(../pics/autumn3.jpg);
	background-size: 100% 720px;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: black;
	padding: 150px 0px 0 150px;
	font-family: Helvetica, Arial, sans-serif;
}