body {
	background-image: url("../pics/catWow.jpg");
	background-size: 100% 720px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding: 7px;
}

.menu h1 {
	color: black;
}

#start {
	text-align: right;
	font-size: 22px;
}

.menu a {
	padding-right: 50px;
	text-decoration: none;
	color: white;
}

.menu a:hover {
	color: aqua;
}

h1 {
	margin-left: 50px;
	margin-top: 20px;
}

table {
	font-size: 24px;
	margin-left: 50px;
	text-align: left;
	color: black;
	border-collapse: separate;
	margin-right: auto;
	text-align: left;
	border-collapse: separate;
	border-spacing: 2em;
}

.btn-reg {
	cursor: pointer;
	color: black;
	margin-left: 250px;
}

.login-error {
	font-size: 16px;
	font-weight: bold;
	color: red;
	margin-left: 280px;
}