body {
	background-image: url(../pics/lighthouse.jpg);
	background-repeat: no repeat;
	background-size: cover;
	background-attachment: fixed;
	background-size: cover;

}
form {
	text-align: center;
	width: 30%;
	margin-left: 35%;
	margin-top: 20px;
}

h1 {
	text-align: center;
}



.btn-reg{
	cursor:pointer;
	color:black;
	}
	.login-error {
	font-size:16px;
	font-weight:bold;
	color:red
	}
	
